body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    font-size: 1.5vw;
}

p {
    font-size: 0.5em;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 30%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: beige;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;

}
#nav-ul {
    display: flex;
}

#nav-ul > li {
 padding: 8px;
 margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

nav > ul {
    list-style: none; /
}

nav > ul > a { 
    color: white;
} 

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin:auto;
}

#main-content {
    display: auto;
    justify-content: space-around;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
 }

body> footer {
    background-color: beige;
    display: flex;
}

image {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px ;
}

#footer-ul > div > li >a {
    text-decoration: none;
    color: whitesmoke;
}
